/* Style dasar untuk body dan layout */
body {
    padding: 20px;
    background-color: rgb(252, 195, 90);
    font-family: Arial, sans-serif;
    margin: 0;
}
footer {
    text-align: center;
}

#form {
    margin: 10px;
}


#form input {
    border-radius: 5px;
    border: black;
    border-width: 1px;
    height: 40px;
    width: 86%;
}

#form button{
    border-radius: 5px;
    height: 40px;
    width: 10%;
}

#form button:hover{
    background-color: gold;
    border: black;
    border-width: 1px;
}

.card {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
}

header {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

#yugioh_card_container, #info_container {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: whitesmoke;
    max-width: 650px;
    margin: 20px auto;

}

/* Style untuk gambar kartu */
img{
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

/* Style untuk teks informasi kartu */
h2 {
    text-decoration: underline;
    color: black;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 100%;
}

h4 {
    background-color: yellow;
    color: black;
    padding-left: 50px;
    border-radius: 5px;
    text-align: left;
    width: 80%;
}

p {
    padding: 10px;
    text-align: justify;
    line-height: 1.5;
}

/* Responsif untuk layar kecil */
@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    #yugioh_card_container, #info_container {
        max-width: 90%;
    }

    img{
        max-width: 80%;
    }

    h3, h4 {
        font-size: 1rem;
        max-width: 90%;
    }

    .card {
        grid-template-columns: repeat(1, 1fr);
    }
}
